body {
	background: #292d3e;
	margin: auto;
	max-width: 1216px;
}


#optContainer {
	width: 100%;
	position: fixed;
	bottom: 8px;
	left: 0;
}

.optmenu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.option {
	border-radius: 20px;
	padding: calc(0.5em - 3px);
	margin: 0.5rem auto;
	font-family: "mononoki Nerd Font", "Ubuntu mono", "sans-serif";
	font-weight: 1000;
	font-size: 2em;
	cursor: pointer;box-shadow:  1px 1px 2px #101219,
             -1px -1px 2px #424863;
	transition: all 0.25s;
	user-select: none;
	color: #fefefe;
	border-radius: 26px;
	background: linear-gradient(145deg, #2c3042, #252938);
	box-shadow: 12px 12px 25px #1e212e,
		-12px -12px 25px #34394e;
}
.option:hover{
	background: linear-gradient(145deg, #252938, #2c3042);
}
.option.active{
	background: #292d3e;
	box-shadow: inset 12px 12px 25px #1e212e,
            inset -12px -12px 25px #34394e;
}

.canvas-wrapper {
	border-radius: 50px;
	position: relative;
	top: 8px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 0;
	padding-bottom: min(66.6666%, 800px);
	width: min(calc(100% - 16px), 1200px);
}

#gl-canvas {
	display: block;
	border-radius: 50px;
	position: absolute;
	width: 100%;
	height: 100%;
}

.test {
	position: absolute;
	border-radius: 50px;
	box-shadow: inset 20px 20px 60px #1b1e29, inset -20px -20px 60px #373c53;
	height: 100%;
	width: 100%;
}

.slider {
	bottom:10px;
	margin: 0.5rem auto;
	appearance: none;
	box-shadow: 5px 5px 10px #101219,
             -5px -5px 10px #424863;
	background: #292d3e;
	height: 5px;
	width: 16em;
	border-radius: 2.5px;
	outline: none;
	-webkit-transition: .2s;
	transition: all .2s;
}

.slider:hover {
	box-shadow: 4px 4px 8px #101219,
             -4px -4px 8px #424863;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius:50%;
	background: linear-gradient(145deg, #2c3042, #252938);
	box-shadow:  3px 3px 5px #1f222f,
             -3px -3px 5px #33384e;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius:50%;
	background: linear-gradient(145deg, #2c3042, #252938);
	box-shadow:  3px 3px 5px #1f222f,
             -3px -3px 5px #33384e;
	cursor: pointer;
}

.slider-container{
	margin: 0.5em auto;
}
.slider-container>div{
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	color:#fefefe;
	font-family: 'Mononoki Nerd Font','Ubuntu',sans-serif;
}


.checkmenu{
	margin:0.0em auto;
}
.checkmenu>div>.checkbox{
	position:relative;
	top:4px;
	float:left;
	height:16px;
	width:16px;
	margin-right: 10px;
	border-radius: 4px;
	background: #292d3e;
	box-shadow: inset 2px 2px 4px #1a1c27,
				inset -2px -2px 4px #383e55;
	cursor: pointer;
}

.checkmenu>div>.checkbox.active{
	background: linear-gradient(145deg, #2c3042, #252938);
	box-shadow:  2px 2px 4px #1a1c27,
				 -2px -2px 4px #383e55;
}

.checkmenu>div{
	color:#fefefe;
	font-size: 16px;
	line-height:26px;
	width:130px;
	font-family:'Mononoki Nerd Font','Ubuntu',sans-serif;
}
